/* generic *******************************************************************/
.ma-bold {
  font-weight: bolder;
}

.ma-input {
  width: 99%;
}

.ma-select {
  min-height: 34px;
  outline: 0;
  border: 0;
  border-radius: 4px;
  background-color: #E2E4E6;
  border: 1px solid #CDD2D4;
}

/* generic - list style ******************************************************/
.ma-list .ma-list-foot {
    margin: 0;
    height: 20px;
    padding: 10px 20px;
    background-color: #e2e4e6;
    border-radius: 0 0 3px 3px;
}

.ma-list select {
    padding: 0 10px 0 10px;
    background-color: #e2e4e6;
    margin: 0;
    border: 0;
    margin-bottom: 0 !important;
    max-height: 250px;
}

.ma-list option {
  padding: 6px 2px;
  margin: 2px 0;
  font-size: 1.1em;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  overflow: hidden;
}

.ma-list option:hover{
  background-color: #e2e4e6;
  color: #000;
}

.ma-list option:checked{
  background-color: #0079bf;
  color: #fff;
}

.ma-list label {
  border-radius: 3px 3px 0 0;
  background-color: #e2e4e6;
  color: #4d4d4d;
  font-size: 1.2em;
  padding: 5px 10px;
  margin: 0;
}

/* rename dialog *************************************************************/

.rd-list {
  width: 46%;
  display: inline-block;
  padding: 2px 10px;
  border: 0;
  margin: 0;
  vertical-align: top;
}

.rd-pattern {
  padding: 40px 0 0 10px;
  width: 30%;
  display: inline-block;
}

.rd-description-wrapper {
  padding: 40px 10px 0 0;
  vertical-align: top;
  width: 65%;
  display: inline-block;
}

.rd-description {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px;
  background-color: #e2e4e6;
}

/* move to dialog ************************************************************/

.mt-dest {
  padding: 20px 0 0 0;
}
