<div class="pop-over-header">
  <span class="pop-over-header-title">Manage Pattern</span>
  <a href="#" class="pop-over-header-close-btn icon-sm icon-close ma-rd-btn-close">
  </a>
</div>

<div class="pop-over-content u-fancy-scrollbar">

  <div class="ma-pd-select">
    <select class="ma-pd-selection" size="5" multiple>
    </select>
  </div>
  <div class="ma-pd-edit">

    <div class="form-grid">
      <div class="form-grid-child">
        <label>RegExp</label>
        <input id="ma-rd-regex">
      </div>
    </div>

    <div class="form-grid">
      <div class="form-grid-child">
        <label>RegExp</label>
        <input id="ma-rd-regex">
      </div>
    </div>

    <div class="ma-rd-controls">
      <input class="primary confirm mod-compact ma-rd-apply" type="submit" value="Save">
    </div>

    <div class="ma-rd-controls">
      <input class="primary confirm mod-compact ma-rd-apply" type="submit" value="Delete">
    </div>
  </div>
</div>
