<div class="pop-over-header">
  <span class="pop-over-header-title">Rename Cards</span>
  <a href="#" class="pop-over-header-close-btn icon-sm icon-close ma-rd-btn-close">
  </a>
</div>

<div class="pop-over-content u-fancy-scrollbar">
  <div class="ma-rd-lists">
    <div class="ma-rd-list">
      <label>Selection</label>
      <select id="ma-rd-selection" class="ma-rd-list u-fancy-scrollbar" size="20" multiple></select>
      <div class="ma-rd-foot">
        <a href="#" class="ma-rd-select-all">Select all</a>
        <a href="#" class="ma-rd-unselect-all">Unselect all</a>
      </div>
    </div>
    <div class="ma-rd-list">
      <label>Preview</label>
      <select id="ma-rd-preview" class="ma-rd-list u-fancy-scrollbar" size="20" multiple disabled></select>
      <div class="ma-rd-foot"></div>
    </div>
  </div>

  <div class="ma-rd-pattern">
    <div class="form-grid">
      <div class="button-link setting form-grid-child">
        <span class="label">Pattern</span>
        <span class="value">...</span>
        <label>Pattern</label>
        <select class="ma-input" id="ma-rd-select-pattern">
        </select>
      </div>
    </div>
    <div class="form-grid">
      <div class="form-grid-child">
        <input class="secondary confirm mod-compact ma-pd-add" type="submit" value="Add">
        <input class="secondary confirm mod-compact ma-pd-modify" type="submit" value="Modify">
        <input class="secondary confirm mod-compact ma-pd-delete" type="submit" value="Delete">
      </div>
    </div>

    <div class="form-grid">
      <div class="form-grid-child">
        <label>RegExp</label>
        <input id="ma-rd-regex" class="ma-input">
      </div>

      <div class="form-grid">
        <div class="form-grid-child">
          <label>Replace</label>
          <input id="ma-rd-replace" class="ma-input">
        </div>
      </div>
    </div>
  </div>
  <div class="ma-rd-description-wrapper">
    <div class="ma-rd-description">
      <p><strong>How to use the Rename Dialog</strong></p>
      <p>1) Select all cards you want to rename by clicking the card names (multiple selection works with shift/ctrl) or 'select all'</p>
      <p>2a) Select a pattern from the already defined pattern list (or modify/delete/add new patterns)</p>
      <p>or</p>
      <p>2b) Enter your own regexp / replace combination. The regexp input defines which parts of the card names should be matched. To use specific parts wrap them into matching groups (e.g (.*) matches the whole name). You can now use the replace input to define how the new name should look like: $1-9 is the matched group from the regex; $i a running index from top to down.
      </p>
      <p>3) Apply changes to all selected cards by pressing the rename button</p>
    </div>
  </div>
  <div class="ma-rd-controls">
    <input class="primary confirm mod-compact ma-rd-apply" type="submit" value="Rename Cards">
  </div>
</div>
